# ==========================================
# ENVIRONNEMENT LOCAL (Monorepo Collector)
# ==========================================

# --- GLOBAL ---
NODE_ENV=
PORT=

# --- BASE DE DONNÉES (PostgreSQL) ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
POSTGRES_URL=

# --- MESSAGE BROKER (RabbitMQ) ---
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_URL=

# --- IDENTITÉ ET ACCÈS (Keycloak) ---
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_HOSTNAME=

# --- OBSERVABILITÉ (Grafana) ---
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

# --- SÉCURITÉ (CI/CD) ---
DISCORD_WEBHOOK_URL=
